<ion-modal-view ng-controller="NewFestaCtrl">
    <ion-header-bar>
        <h1 class="title">Besta Berria</h1>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="hideModal()">Ezeztatu</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <!-- <div class="list"><a ng-repeat="user in users" ng-click="newFesta(user._id)" class="item">
        <h2>{{user.profile.name}}</h2> -->
        <p>Ionic festak meteorrekin erabiltzen</p>
        </a>
        </div>
    </ion-content>
</ion-modal-view>
